body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
} */

*, *:before, *:after {
        box-sizing: inherit;
    }
#about_page {
    background-color: #474E5D;
    text-align: center;
    padding:  50px;
    color: white;
}

#row {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    gap: 30px;
}

.column {
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.item img {
    width: 100%;
}

.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: gray;
}

.item a {
    text-decoration: none;
    color: black;
}
button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    width: 100%;
    border: none;
    outline: 0;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: rgb(109, 109, 109);
}